* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}
/* background image  */
body {
    background: url("assets/image11.jpeg") 60% no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* header navigation area  */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

nav a {
    color: white;
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
}

header a:hover {
    cursor: pointer;
    background:rgba(255,165,0, 0.5);
    transition-duration: 0.3s;
}

header img {
    width: 3rem;
    height: auto;
}

/* main about me area  */

main {
    display: flex;
    flex-direction: column;
}

article {

    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}

.text {
    text-align: center;
    padding: 1rem;
}

article img {
    width: 18rem;
    height: 20rem;
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
    margin-top: 1rem;
}

/* footer area  */

footer {
    text-align: center;
}

/* Tablet styles  */

@media only screen and (min-width: 414px) {
    header {
display: flex;
flex-direction: row;
justify-content: center;
margin: 1rem;
justify-content: flex-end;
position: fixed;
right: 1.5rem;
    }

    article {
    display: flex; 
    flex-wrap: wrap;
    }

    article img {
        align-self: center;
        margin-top: 1rem;
    }

 
    .text {
        width: 58%;
    }

    p {
        padding: 1rem 1rem;
    }

    .container {
        padding-top: 10rem;
    }

    #logo {
        display: block;
    }
    footer {
        margin: 1rem;
    }

}

/* Tablet styles  */

@media only screen and (min-width: 768px) {
    article img {
        align-self: center;
        margin: 1rem;
    }
}
/* Tablet styles  */

@media only screen and (max-width: 768px) {



    article , h3 , p {
        display: block;
    }

    .text {
        margin: 0 auto;
    }
}

/* Desktop styles  */

@media only screen and (min-width: 1000px) {
    article img {
        width: 22rem;
        height: 26rem;
        text-align: center;
    }
    
    h3 {
        margin-top: 3rem;
    }

}

