* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* background image  */
body {
    background: url("assets/image11.jpeg") 60% no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

/* header navigation area  */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}


header a {
    color: white;
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
}

header a:hover {
    cursor: pointer;
    background:rgba(255,165,0, 0.5);
    transition-duration: 0.3s;
}

header img {
    width: 3rem;
    height: auto;
}

/* main blog area  */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main a {
    text-decoration: none;
}

a article {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}

article {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1rem 0.5rem;
    margin:1rem 0.5rem;
}

article img {
    width: 20rem;
    height: 24rem;
    display: flex;
    margin:0 auto;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 1rem;
}

time {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: white;
    margin-top: 1rem;
    padding: 1rem;   
}

/* footer area  */

footer {
    text-align: center;
}

/* Tablet styles  */

@media only screen and (min-width: 568px) {

    article img {
        width: 35rem;
        height: 38rem;
    }

    footer {
        margin-bottom: 1rem;
    }
}

/* Tablet and desktop styles  */

@media only screen and (min-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1rem;
        flex-direction: row;
        justify-content: center;
        margin: 1rem;
        justify-content: flex-end;
        position: fixed;
        right: 1.5rem;
    }

    div {
        padding: 5rem;
    }

    article img {
        width: 50rem;
        height: 60rem;
    }
}