* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* background image  */

body {
    display: flex;
    flex-direction: column;
    background: url("assets/image2.jpeg") 60% no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white ;
}

/* header navigation area  */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

a {
    color: white;
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
}
a:hover {
    cursor: pointer;
    background:rgba(255,165,0, 0.5);
    transition-duration: 0.3s;
}
header img {
    width: 2rem;
    height: auto;
}

/* links of resume and git hub area  */


div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}


div img {
    width: 2rem;
    height: auto;
}

/* eduction and work area  */

#education {
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding-bottom: 1rem;
}

h1 {
    margin-top: 1rem;
}

ul {
    list-style: none;
}

li {
    margin-top: 1rem;
}

p {
text-align: center;
}

#work {
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding-bottom: 1rem;
    margin-top: 1rem;
}

/* footer area  */

footer {
    text-align: center;
}

/* Tablet and desktop styles  */

@media only screen and (min-width: 768px) {
    header {
        flex-direction: row;
        margin: 1rem;
        position: fixed;
        right: 1.5rem;
    }

    div {
        margin-top: 16rem;
        flex-direction: row;
        justify-content: center;
    }

    #work {
        margin-top:16rem;
    }

    footer {
        margin: 1rem;
    }
}
