* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: url("assets/image7.jpeg") 60% no-repeat;
    /* background-repeat:  no-repeat; */
    background-attachment: fixed;
    background-size: cover;
}

#logo {
    border: 2px solid white;
}
#logo p {
    color: white;
    padding: 0.5rem;
}

header {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}

nav {
    display: flex;
}

a {
    border: 2px solid white;
    color: white;
    padding: 0.5rem;
    margin: 0.5rem;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
}

img {
    padding: 1rem;
    margin: 1rem;
    /* width: 300px;
    height: 300px; */
    width: 200px;
    height: 200px;
    /* height: 50%; */
    object-fit: cover;
    border-radius: 50%;
    /* vertical-align: middle; */
    /* background-size: 70% auto; */
}

h1 {
    color: white;
    padding: 1rem 0 ;

}
main p {
    text-align: center;
    color: white;
    margin: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}
section {
    border: 2px solid white;
    margin: 1rem;
}

h3 {
    color: white;
}

section p {
    color: white;
    padding: 1rem;
}

#connect {
    display: flex;
    border: 2px solid white;
    justify-content: space-between;
    margin: 1rem;
}
#connect p {
    padding: 20px 20px;
    align-content: center;
    color: white;
}

footer {
    text-align: center;
    color: white;
}